### BỘ LỌC CHUNG ###
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

### NGĂN CHẶN RÁC FRONTEND (REACT/VITE) ###
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*

### NGĂN CHẶN RÁC BACKEND (SPRING BOOT) ###
backend/target/
backend/!.mvn/wrapper/maven-wrapper.jar
backend/log/
backend/*.log
backend/mvnw.zip
backend/.classpath
backend/.project
backend/.settings/
